@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IfoodRCTextos";
  src: url("..//../components/font/iFoodRCTextos-Regular.eot");
  src: url("..//../components/font/iFoodRCTextos-Regular.eot")
      format("embedded-opentype"),
    url("..//../components/font/iFoodRCTextos-Regular.woff2") format("woff2"),
    url("..//../components/font/iFoodRCTextos-Regular.woff") format("woff"),
    url("..//../components/font/iFoodRCTextos-Regular.ttf") format("truetype");
}

:root {
  --foreground-rgb: 229 231 235;
  --background-start-rgb: 229 231 235;
  --background-end-rgb: 229 231 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229 231 235;
    --background-start-rgb: 229 231 235;
    --background-end-rgb: 229 231 235;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
